<nav>
  <button
    routerLink="/workout"
    routerLinkActive="active"
    title="Workouts"
    type="button"
  >
    <span class="text">Workouts</span>
    <i class="bx bx-dumbbell"></i>
  </button>
  <button
    routerLink="/progress"
    routerLinkActive="active"
    title="Progress"
    type="button"
  >
    <span class="text">Progress</span>
    <i class="bx bxs-bar-chart-alt-2"></i>
  </button>
  <button
    routerLink="/profile"
    routerLinkActive="active"
    title="Profile"
    type="button"
  >
    <span class="text">Profile</span>
    <i class="bx bxs-user"></i>
  </button>
  <button (click)="logout()" title="Logout" type="button">
    <span class="text">Logout</span>
    <i class="bx bxs-log-out"></i>
  </button>
</nav>
