<nav>
  <a routerLink="/" routerLinkActive="active" title="Programs">
    <i class="bx bxs-calendar-edit"></i>
    <span class="description">Programs</span>
  </a>
  <a routerLink="/progress" routerLinkActive="active" title="Progress">
    <i class="bx bxs-bar-chart-alt-2"></i>
    <span class="description">Progress</span>
  </a>
  <a routerLink="/profile" routerLinkActive="active" title="Profile">
    <i class="bx bxs-user"></i>
    <span class="description">Profile</span>
  </a>
  <a (click)="logout()" title="Logout">
    <i class="bx bxs-log-out"></i>
    <span class="description">Logout</span>
  </a>
</nav>
