:host {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.measure {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 90%;
  max-width: 900px;
  box-shadow: var(--box-shadow);
  border-radius: var(--light-radius);
  color: var(--primary);
  background-color: var(--accent);
}

.measure .elements {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: auto 50px;
}

.measure .elements .element {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 4px;
  width: 180px;
}

.measure .label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.measure .label i {
  font-size: 30px;
}

.measure .label span {
  font-size: 18px;
  font-weight: 500;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  text-transform: capitalize;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--primary);
}

.measure .value {
  font-size: 18px;
  font-weight: 500;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  text-transform: capitalize;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--secondary);
}

.measure .update-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5px;
  left: 5px;
}

.measure .update-container .update {
  box-shadow: var(--box-shadow);
  width: 40px;
  height: 40px;
  color: var(--accent);
  background-color: var(--primary);
  border-radius: var(--light-radius);
  cursor: pointer;
  transition: 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--primary);
}

.measure .update-container .update i {
  font-size: 30px;
}

.measure .update-container .update:hover {
  color: var(--primary);
  background-color: var(--accent);
}

.measure .delete-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5px;
  right: 5px;
}

.measure .delete-container .delete {
  box-shadow: var(--box-shadow);
  width: 40px;
  height: 40px;
  color: red;
  background-color: var(--primary);
  border-radius: var(--light-radius);
  cursor: pointer;
  transition: 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--primary);
}

.measure .delete-container .delete i {
  font-size: 50px;
}

.measure .delete-container .delete:hover {
  color: var(--primary);
  background-color: red;
}
