<section>
  <h1>Progress</h1>
  <div class="column">
    @if (progress.measures.length > 0) {
    <div class="value-container">
      <div class="subtitle">
        <i class="bx bxs-time-five"></i>
        <span>Last :</span>
      </div>
      <span class="number">
        {{ progress.measures[progress.measures.length - 1].weight }} kg ({{
          progress.measures[progress.measures.length - 1].fat
        }}
        % Fat)
      </span>
    </div>
    }
    <div class="graph" [ngClass]="{ visible: progress.measures.length > 0 }">
      <canvas id="graph"></canvas>
    </div>
    <div class="content">
      @for (measure of progress.measures; track $index; let index = $index) {
      @if ( index === 0 || (progress.measures[index].date | date : 'MMMM yyyy')
      !== (progress.measures[index - 1].date | date : 'MMMM yyyy') ) {
      <span class="month">
        {{ measure.date | date : "MMMM" : "" : "en" | titlecase }}
      </span>
      }
      <app-measure-card
        [measure]="measure"
        (updateSessionEvent)="updateProgress(measure, index)"
        (deleteSessionEvent)="deleteMeasure(index)"
      ></app-measure-card>
      }
    </div>
    <div class="button-container">
      <button
        type="button"
        (click)="addProgress()"
        class="add"
        title="Add Measure"
      >
        <i class="bx bx-plus"></i>
      </button>
    </div>
  </div>
</section>
@if(loading) {
<mat-spinner></mat-spinner>
}
