<section>
  <h1>Progress</h1>
  <div class="column">
    @if (progress.measures.length > 0) {
    <div class="value-container">
      <div class="subtitle">
        <i class="bx bxs-time-five"></i>
        <span>Last :</span>
      </div>
      <span class="number">
        {{
          progress.measures[progress.measures.length - 1].weight.toLocaleString(
            "fr-FR"
          )
        }}
        kg ({{
          progress.measures[progress.measures.length - 1].fat.toLocaleString(
            "fr-FR"
          )
        }}
        % Fat)
      </span>
    </div>
    <mat-form-field class="progress">
      <mat-select
        [(ngModel)]="year"
        (selectionChange)="filterMeasuresByYear(false)"
      >
        <mat-option [value]="'all'">All</mat-option>
        @for (year of years; track $index) {
        <mat-option [value]="year">
          {{ year }}
        </mat-option>
        }
      </mat-select>
    </mat-form-field>
    }
    <div class="graph" [ngClass]="{ visible: filteredMeasures.length > 0 }">
      <canvas id="graph"></canvas>
    </div>
    <div class="button-container">
      <button
        type="button"
        (click)="addProgress()"
        class="add"
        title="Add Measure"
      >
        <i class="bx bx-plus"></i>
      </button>
    </div>
    <div class="content">
      @for (measure of filteredMeasures; track $index; let index = $index) { @if
      ( index === 0 || (filteredMeasures[index].date | date : 'MMMM yyyy') !==
      (filteredMeasures[index - 1].date | date : 'MMMM yyyy') ) {
      <span class="month">
        {{ measure.date | date : "MMMM yyyy" : "" : "en" | titlecase }}
      </span>
      }
      <app-measure-card
        [measure]="measure"
        (updateSessionEvent)="updateProgress(measure)"
        (deleteSessionEvent)="deleteMeasure(measure.id)"
      ></app-measure-card>
      }
    </div>
  </div>
</section>
@if(loading) {
<mat-spinner></mat-spinner>
}
