:host {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section {
  position: relative;
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 95%;
  max-width: 1200px;
  background-color: var(--primary);
  color: var(--accent);
  box-shadow: var(--box-shadow);
  border-radius: var(--light-radius);
}

section h1 {
  margin-bottom: 5px;
}

.column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.graph {
  opacity: 0;
  height: 0;
  visibility: hidden;
  transition: opacity 0.1s ease-in-out, visibility 0s linear 1s;
}

.graph.visible {
  width: 100%;
  height: 500px;
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 1;
  visibility: visible;
  transition: opacity 1s ease-in-out;
}

section form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  box-shadow: var(--box-shadow);
  border-radius: var(--light-radius);
  padding: 0 10px;
  max-height: 480px;
  overflow-y: auto;
}

section form .row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

section .delete-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

section form .delete {
  width: 50px;
  height: 50px;
  color: red;
  background-color: var(--primary);
  border-radius: var(--light-radius);
  cursor: pointer;
  transition: 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--primary);
}

section form .delete i {
  font-size: 50px;
}

section form .delete:hover {
  color: var(--primary);
  background-color: red;
}

section .button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

section .add {
  cursor: pointer;
  transition: 0.5s ease;
  box-shadow: var(--box-shadow);
  color: var(--accent);
  border-radius: var(--light-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border: none;
  background-color: var(--primary);
}

section .add i {
  font-size: 50px;
}

section .add:hover {
  color: var(--primary);
  background-color: var(--accent);
}

section .update {
  cursor: pointer;
  transition: 0.5s ease;
  box-shadow: var(--box-shadow);
  color: var(--secondary);
  border-radius: var(--light-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border: none;
  background-color: var(--primary);
}

section .update i {
  font-size: 50px;
}

section .update:hover {
  color: var(--primary);
  background-color: var(--secondary);
}

section form input {
  color: var(--secondary);
}

section form mat-label {
  color: var(--accent);
}

section .value-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 300px;
  gap: 10px;
  box-shadow: var(--box-shadow);
  border-radius: var(--light-radius);
  padding: 7px 0;
  margin-top: 10px;
}

section .value-container .subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  color: var(--accent);
}

section .value-container .number {
  font-size: 20px;
  font-weight: 500;
  color: var(--secondary);
  margin-right: 5px;
}

section .value-container i {
  font-size: 40px;
  margin-right: 10px;
}

mat-spinner {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

::ng-deep .mdc-circular-progress__indeterminate-circle-graphic {
  stroke: var(--accent) !important;
}

::ng-deep section form .mat-mdc-form-field-icon-suffix {
  color: var(--accent);
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: var(--primary) !important;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper,
.mat-mdc-form-field-bottom-align::before {
  display: none;
}

::ng-deep
  .mdc-text-field--filled:not(.mdc-text-field--disabled)
  .mdc-line-ripple::before {
  border-bottom-color: var(--accent) !important;
}

::ng-deep
  .mdc-text-field--filled:not(.mdc-text-field--disabled)
  .mdc-line-ripple::after {
  border-bottom-color: var(--accent) !important;
}

::ng-deep .mat-mdc-icon-button {
  color: var(--accent) !important;
}

::ng-deep .mat-calendar-body-selected {
  background-color: var(--accent) !important;
}

::ng-deep
  .mat-calendar-body-today:not(.mat-calendar-body-selected):not(
    .mat-calendar-body-comparison-identical
  ) {
  border-color: var(--accent) !important;
}

::ng-deep .mat-datepicker-content {
  background-color: var(--primary) !important;
}

::ng-deep .mat-calendar-body-selected.mat-calendar-body-today {
  box-shadow: inset 0 0 0 1px var(--accent) !important;
}

::ng-deep mat-form-field.mat-form-field-invalid {
  --secondary: red;
  --accent: red;
}

@media screen and (max-width: 740px) {
  section form {
    max-height: none;
    overflow-y: hidden;
  }

  .graph {
    height: 400px;
  }

  section .delete-container {
    width: 210px;
  }

  section form .row {
    margin: 10px 0;
  }
}

@media screen and (max-width: 600px) {
  .graph {
    height: 350px;
  }
}
