:host {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
}

section .title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section h2 {
  margin-top: 0;
  margin-left: 10px;
  margin-right: 10px;
  color: var(--secondary);
  font-size: 20px;
  font-weight: 550;
  text-align: center;
}

.features {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 40px;
  margin-top: 10px;
  width: 100%;
}

.feature {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  opacity: 0;
  transition: opacity 1s ease;
}

.feature.visible {
  opacity: 1;
}

.feature.reverse {
  flex-wrap: wrap-reverse;
}

.feature span {
  font-size: 16px;
  max-width: 500px;
  width: 100%;
  text-align: justify;
  line-height: 30px;
  transform: translateX(80px);
  color: var(--secondary);
}

.feature img {
  width: 300px;
  height: 250px;
  border-radius: var(--light-radius);
  object-fit: cover;
  transform: translateX(-80px);
}

.feature img,
.feature span {
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

.feature.reverse span {
  transform: translateX(-80px);
}

.feature.reverse img {
  transform: translateX(80px);
}

.feature.visible img {
  transform: translateX(0);
}

.feature.visible span {
  transform: translateX(0);
}

@media screen and (max-width: 1053px) {
  .features .feature img {
    transform: translateX(0);
  }

  .features .feature span {
    transform: translateX(0);
  }

  .feature.reverse span {
    transform: translateX(0);
  }

  .feature.reverse img {
    transform: translateX(0);
  }
}

@media screen and (max-width: 400px) {
  .features .feature img {
    width: 100%;
  }
}
