<section>
  <div class="title">
    <h2>Slogan</h2>
  </div>
  <div class="features">
    <div class="feature" #feature>
      <img [src]="imagePath + 'welcome/Feature1.webp'" alt="Feature1.webp" />
      <span>Feature1</span>
    </div>
    <div class="feature reverse" #feature>
      <span>Feature2</span>
      <img [src]="imagePath + 'welcome/Feature2.webp'" alt="Feature2.webp" />
    </div>
    <div class="feature" #feature>
      <img [src]="imagePath + 'welcome/Feature3.webp'" alt="Feature3.webp" />
      <span>Feature3</span>
    </div>
    <div class="feature reverse" #feature>
      <span>Feature4</span>
      <img [src]="imagePath + 'welcome/Feature4.webp'" alt="Feature4.webp" />
    </div>
    <div class="feature" #feature>
      <img [src]="imagePath + 'welcome/Feature5.webp'" alt="Feature5.webp" />
      <span>Feature5</span>
    </div>
  </div>
</section>
