<section>
  <div class="title">
    <h2>Elevate Your Fitness Journey</h2>
  </div>
  <div class="features">
    <div class="feature" #feature>
      <img [src]="imagePath + 'welcome/Sessions.webp'" alt="Sessions.webp" />
      <span
        >Add one or multiple workout programs to personalize your fitness
        routine and achieve your goals.</span
      >
    </div>
    <div class="feature reverse" #feature>
      <span
        >Track your weigh-ins and monitor the evolution of your weight over time
        with ease.</span
      >
      <img [src]="imagePath + 'welcome/Progress.webp'" alt="Progress.webp" />
    </div>
    <div class="feature" #feature>
      <img [src]="imagePath + 'welcome/Weight.webp'" alt="Weight.webp" />
      <span
        >Analyze changes in muscle mass and fat percentage to optimize your
        training and nutrition strategies.</span
      >
    </div>
  </div>
</section>
