<section>
  <div class="title">
    <h1>Performax</h1>
  </div>
  @if (isRegistering || isLogin) {
  <div class="back-container">
    <a (click)="toggleLoginOrRegister('welcome')" title="Back" class="unactive">
      <i class="bx bxs-left-arrow-circle"></i>
      <span class="text">Back</span>
    </a>
  </div>
  }
  <div class="button-container">
    <a
      (click)="toggleLoginOrRegister('register')"
      title="Register"
      [ngClass]="isRegistering ? 'active' : 'unactive'"
    >
      <i class="bx bx-pencil"></i>
      <span class="text">Register</span>
    </a>
    <a
      (click)="toggleLoginOrRegister('login')"
      title="Login"
      [ngClass]="isLogin ? 'active' : 'unactive'"
    >
      <i class="bx bx-user-circle"></i>
      <span class="text">Login</span>
    </a>
  </div>
  <div class="content">
    @if(!isRegistering && !isLogin) {
    <app-welcome></app-welcome>
    } @else if (isRegistering) {
    <app-register></app-register>
    } @else if(isLogin) {
    <app-login></app-login>
    }
  </div>
</section>
