section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 700px;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
}

section .content {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  min-height: 370px;
}

section .button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}

section .button-container a {
  background-color: var(--background);
  color: var(--accent);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease;
  width: 170px;
  text-transform: uppercase;
}

section .button-container .left {
  border-radius: var(--light-radius) 0 0 var(--light-radius);
}

section .button-container .right {
  border-radius: 0 var(--light-radius) var(--light-radius) 0;
}

section .button-container a h1 {
  font-size: 20px;
  font-weight: 700;
}

section .button-container .unactive:hover {
  background-color: var(--accent);
  color: var(--primary);
}

section .button-container .unactive {
  cursor: pointer;
}

section .button-container .active {
  background-color: var(--accent);
  color: var(--primary);
}
