@if (!loading) {
<form [formGroup]="loginForm" [ngClass]="{ invalidLogin: invalidLogin }">
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" />
    @if (loginForm.get('email')!.invalid) {
    <mat-error>
      @if (loginForm.get('email')!.hasError('required')) {
      <span>Email is required</span>
      } @if (loginForm.get('email')!.hasError('email')) {
      <span>Email is invalid</span>
      }
    </mat-error>
    }
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input
      matInput
      [type]="hide ? 'password' : 'text'"
      formControlName="password"
    />
    <button
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
      type="button"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
    @if (loginForm.get('password')!.invalid) {
    <mat-error>
      @if (loginForm.get('password')!.hasError('required')) {
      <span>Password is required</span>
      } @if (loginForm.get('password')!.hasError('minlength')) {
      <span>Password is too short</span>
      } @if (loginForm.get('password')!.hasError('maxlength')) {
      <span>Password is too long</span>
      }
    </mat-error>
    }
  </mat-form-field>
  <div class="button-container">
    <a title="Forgot password ?" class="forgot" (click)="passwordForgotten()">
      <span class="text">Forgot password ?</span>
    </a>
    <a title="Login" (click)="login()">
      <i class="bx bxs-log-in"></i>
      <span class="text">Login</span>
    </a>
  </div>
</form>
} @else {
<mat-spinner></mat-spinner>
}
