<div class="program">
  <div class="update-container">
    <button (click)="update()" class="update" title="Update">
      <i class="bx bxs-edit-alt"></i>
    </button>
  </div>
  <div class="delete-container">
    <button (click)="delete()" class="delete" title="Delete">
      <i class="bx bx-x"></i>
    </button>
  </div>
  <div class="title">
    <i [ngClass]="program().logo"></i>
    <span>{{ program().title }}</span>
  </div>
  @for (session of program().sessions; track $index) {
  <div class="session">
    <span class="large">{{ session.title }}</span>
  </div>
  }
  <button
    type="button"
    [routerLink]="'/programs/' + program().id"
    class="view"
    title="Details"
  >
    <i class="bx bxs-search-alt-2"></i>
    <span class="text">Details</span>
  </button>
</div>
