:host {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 320px;
}

.program {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  width: 100%;
  box-shadow: var(--box-shadow);
  border-radius: var(--light-radius);
  color: var(--primary);
  transition: 0.5s ease;
  border: none;
  background-color: var(--accent);
}

.program .title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.program .title i {
  font-size: 30px;
}

.program .title span {
  font-size: 20px;
  font-weight: 500;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.program .session {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  color: var(--secondary);
}

.program .session span {
  font-size: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.program .session span.small {
  width: 50px;
  text-align: center;
  font-weight: 400;
}

.program .session span.large {
  width: 150px;
  text-align: center;
  font-weight: 500;
}

.view {
  margin-top: 20px;
  cursor: pointer;
  background-color: var(--primary);
  color: var(--accent);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: var(--light-radius);
  transition: 0.5s ease;
  width: 150px;
  border: none;
  box-shadow: var(--box-shadow);
}

.view:hover {
  background-color: var(--accent);
  color: var(--primary);
}

.view i {
  font-size: 30px;
}

.view .text {
  font-size: 20px;
  font-weight: 500;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.program .delete-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
}

.program .delete-container .delete {
  width: 40px;
  height: 40px;
  color: red;
  background-color: var(--primary);
  border-radius: var(--light-radius);
  cursor: pointer;
  transition: 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--primary);
}

.program .delete-container .delete i {
  font-size: 50px;
}

.program .delete-container .delete:hover {
  color: var(--primary);
  background-color: red;
}
