section {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: var(--background);
  padding: 10px;
  border-radius: var(--light-radius);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  max-width: 700px;
  width: 80%;
}

section h1 {
  font-size: 20px;
  color: red;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.button-container a {
  cursor: pointer;
  background-color: var(--background-nav);
  color: var(--accent);
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: var(--light-radius);
  transition: 0.5s ease;
  width: 100px;
}

section .button-container .delete {
  color: red;
  transition: 0.5s ease;
}

section .button-container a:hover {
  background-color: var(--accent);
  color: var(--primary);
}

section .button-container .delete:hover {
  background-color: red;
}

section .button-container a i {
  font-size: 40px;
}

section .button-container a .text {
  font-size: 20px;
  font-weight: 500;
}
