<section mat-dialog-content>
  <h1>Update Session</h1>
  <form class="content">
    <mat-form-field class="title">
      <mat-label>SESSION NAME</mat-label>
      <input
        matInput
        [(ngModel)]="session.title"
        name="sessionTitle"
        type="text"
        minlength="2"
        maxlength="50"
        required
      />
    </mat-form-field>
    <div class="exercises" cdkDropList (cdkDropListDropped)="drop($event)">
      @for (exercise of session.exercises; track $index; let index = $index) {
      <div class="row" cdkDrag>
        <i class="bx bx-menu" cdkDragHandle></i>
        <mat-form-field>
          <mat-label>TITLE</mat-label>
          <input
            matInput
            [(ngModel)]="exercise.title"
            [name]="'exerciseTitle' + index"
            type="text"
            minlength="2"
            maxlength="50"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>REPETITIONS</mat-label>
          <input
            matInput
            [(ngModel)]="exercise.repetitions"
            [name]="'repetitions' + index"
            type="text"
            maxlength="20"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>PERFORMANCE</mat-label>
          <input
            matInput
            [(ngModel)]="exercise.lastPerformance"
            [name]="'lastPerformance' + index"
            type="text"
            maxlength="20"
          />
        </mat-form-field>
        <div class="delete-container">
          <button
            (click)="deleteExercise(index)"
            class="delete"
            title="Delete Exercise"
          >
            <i class="bx bx-x"></i>
          </button>
        </div>
      </div>
      }
    </div>
    <div class="button-container-plus">
      <button
        type="button"
        (click)="addExercise()"
        class="add"
        title="Add Exercise"
      >
        <i class="bx bx-plus"></i>
      </button>
    </div>
    <div class="button-container">
      <button type="button" title="Cancel" (click)="cancel()" class="cancel">
        <i class="bx bx-x"></i>
        <span class="text">Cancel</span>
      </button>
      <button type="button" title="Confirm" (click)="confirm()">
        <i class="bx bx-check"></i>
        <span class="text">Confirm</span>
      </button>
    </div>
  </form>
</section>
