<section mat-dialog-content>
  <h1>Update Password</h1>
  <form [formGroup]="securityForm" class="content" (ngSubmit)="confirm()">
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        formControlName="password"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
        type="button"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      @if (securityForm.get('password')!.invalid) {
      <mat-error>
        @if (securityForm.get('password')!.hasError('required')) {
        <span>Password is required</span>
        } @if (securityForm.get('password')!.hasError('minlength')) {
        <span>Password is too short</span>
        } @if (securityForm.get('password')!.hasError('maxlength')) {
        <span>Password is too long</span>
        }
      </mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>Confirm</mat-label>
      <input
        matInput
        [type]="hideDuplicate ? 'password' : 'text'"
        formControlName="passwordConfirmation"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hideDuplicate = !hideDuplicate"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hideDuplicate"
        type="button"
      >
        <mat-icon>{{
          hideDuplicate ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
      @if (securityForm.get('passwordConfirmation')!.invalid) {
      <mat-error>
        @if (securityForm.get('passwordConfirmation')!.hasError('required')) {
        <span>Password is required</span>
        } @if (securityForm.get('passwordConfirmation')!.hasError('minlength'))
        {
        <span>Password is too short</span>
        } @if (securityForm.get('passwordConfirmation')!.hasError('maxlength'))
        {
        <span>Password is too long</span>
        } @if
        (securityForm.get('passwordConfirmation')!.hasError('passwordMismatch'))
        {
        <span>Passwords do not match</span>
        }
      </mat-error>
      }
    </mat-form-field>
    <div class="button-container">
      <button type="button" title="Cancel" (click)="cancel()" class="delete">
        <i class="bx bx-x"></i>
        <span class="text">Cancel</span>
      </button>
      <button type="submit" title="Confirm">
        <i class="bx bx-check"></i>
        <span class="text">Confirm</span>
      </button>
    </div>
  </form>
</section>
