<section>
  <h1>Profile</h1>
  @if (!loading) {
  <div class="content">
    <app-security
      [user]="userService.currentUserSig()!"
      (updateEvent)="openUpdateDialog()"
    ></app-security>
    <div class="button-container">
      <button
        type="button"
        (click)="openDialog()"
        title="Delete Profile"
        class="delete"
      >
        <i class="bx bxs-trash"></i>
        <span class="text">Delete Profile</span>
      </button>
    </div>
  </div>
  }
</section>
@if (loading) {
<mat-spinner></mat-spinner>
}
