<a class="workout" [routerLink]="'/workout/' + workout.id" title="Edit workout">
  <div class="title">
    <i class="bx bx-run"></i>
    <span>{{ workout.title }}</span>
  </div>
  @for (exercise of workout.exercises; track $index; let index = $index) {
  <div class="exercise">
    <i class="bx bx-right-arrow-alt"></i>
    <span class="large">{{ exercise.title }}</span>
    <span class="small">{{ exercise.repetitions }}</span>
    <span class="small">{{ exercise.lastPerformance }}</span>
  </div>
  }
</a>
