:host {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 320px;
}

.workout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  width: 100%;
  box-shadow: var(--box-shadow);
  border-radius: var(--light-radius);
  color: var(--accent);
  cursor: pointer;
  transition: 0.5s ease;
  border: none;
  background-color: var(--primary);
}

.workout:hover {
  background-color: var(--accent);
  color: var(--primary);
}

.workout .title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.workout .title i {
  font-size: 30px;
}

.workout .title span {
  font-size: 20px;
  font-weight: 500;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.workout .exercise {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: var(--secondary);
}

.workout .exercise i {
  font-size: 20px;
  padding: 5px 0;
}

.workout .exercise span {
  font-size: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.workout .exercise span.small {
  width: 50px;
  text-align: center;
  font-weight: 400;
}

.workout .exercise span.large {
  width: 150px;
  text-align: left;
  font-weight: 500;
}
